# INTRODUCTION TO PYTHON FOR DATA SCIENCE

This is a fast-tracked, fundamentals of python for Data Science and Machine Learning. If you are an absolute beginner, you can visit this site for more detailed information on Python and Data Science. 

As you pursue this course, you should keep the curiosity up and your adventure spirit untamed. Read wide and dig deep. There's a lot to explore and manipulate in data.

In [1]:
# The print function outputs anything within the quotes in the brackets
print("5")
print('She is a girl')
print('He\'s a boy')

# Notice how we have used the forward slash in the print statement above in order to retain the single quote in the output. 

print('She\'s a girl')
print('"Come here!" he said')

print('She\'s a girl' + ' He\'s a boy.\n\n\n Heey, Have you noticed:\n1. The 3 new lines?\n2. The addition sign adds two strings of sentences but one has to input the space manually?')

5
She is a girl
He's a boy
She's a girl
"Come here!" he said
She's a girl He's a boy.


 Heey, Have you noticed:
1. The 3 new lines?
2. The addition sign adds two strings of sentences but one has to input the space manually?

## VARIABLES

These are pointers to objects. Objects could be strings, characters or numbers.

Suppose you are required to find C where A + B = C; And you have 

    i)A= 10 and B= 20
    ii) A= 20 and B=40
    
we call the alphabets A, B ,C variables.You can alter an object throughout a script by altering just one line of code (the variable).

## Assigning variables

ModuleNotFoundError: No module named 'Untitled2'

In [2]:
x=5
x

5

In [3]:
Name = "John"
print(Name)
Age = 35
print(Age)

John
35

### Lists

We can also assign variables to lists.

In [4]:
Names = ['Sponge','Bob','Squid','Ward','Patrick']
type(Names)
  
# Run the command above before proceeding to type out the line below
Names

['Sponge', 'Bob', 'Squid', 'Ward', 'Patrick']

In [5]:
# Let's try another one
Age =[20, 21, 22, 23, 24]
Age

[20, 21, 22, 23, 24]

In [6]:
Type =['Sponge', 'Sponge', 'Squid', 'Squid', 'Starfish']

##### Curious Brainer

1. Have you noticed any new technique used in printing out the names above?
2. What is the output of the line 'type(Names)'?
3. Have you noticed the difference between keying in numbers and keying in strings/words?

### Dictionaries

Python allows you to create dictionaries. These work just like your usual dictionaries. 

Dictionaries generally take the form:

     
            For a dictionary,let us call it D;
            D ={'key1':'value1', 'key2':'value2'}

In [7]:
# We create a dictionary known as 'Characters'
Characters = {'Main Character': 'Sponge', 'Best Friend': 'Patrick', 'House': 'Pineapple'}
Characters

{'Main Character': 'Sponge', 'Best Friend': 'Patrick', 'House': 'Pineapple'}

The request D['key1'] will output 'value1'. Let's look at the example below

In [8]:
# What will we get when we request for 'Best Friend'?

Characters['Best Friend']

'Patrick'

Lists can also be used as values in a dictionary.

In [9]:
# We insert the list containing the names as the value to the key 'Names'
Characters = {'Names': Names, 'Best Friend': 'Patrick', 'House': 'Pineapple'}

# Let's see the output value of the key reference 'Names'

Characters['Names']

['Sponge', 'Bob', 'Squid', 'Ward', 'Patrick']

One can also declare a dictionary by zipping lists together. Let's create a   dictionary containing names of the characters and their corresponding ages.

In [10]:
Age_of_characters = dict(zip(Names, Age))
Age_of_characters

{'Sponge': 20, 'Bob': 21, 'Squid': 22, 'Ward': 23, 'Patrick': 24}

In [11]:
# Let's see the output when we request for one of the names

Age_of_characters['Bob']

21

Let's see how we can put these variables to use.

#### Curious Brainer

Play around with the concepts above.
1. Have you noticed that not all words can be used as variables? 
2. What are the rules when choosing variables in Python?

### Manipulating variables

By the end of this section you will be able to:
   1. Append(add objects), remove objects in lists
   2. Merge lists
   3. Locate objects in lists and dictionaries
   4. Carry out operations on variables
     ...And more!

### Introduction to methods

Luckily, python has in-built formulas that you can call upon and they execute your command. These are called methods.

Let's explore.

### LISTS

Several methods associated with lists are:

                        Method     Description 
                       append()	   Adds an element at the end of the list
                       clear()	   Removes all the elements from the list
                       copy()	   Returns a copy of the list
                       count()	   Returns the number of elements with the specified value
                       extend()    Add the elements of a list (or any iterable), to the end of the current list
                       index()     Returns the index of the first element with the specified value
                       insert()    Adds an element at the specified position
                       pop()	   Removes the element at the specified position
                       remove()	   Removes the first item with the specified value
                       reverse()   Reverses the order of the list
                       sort()	   Sorts the list

Methods follow a general flow: list.method(arguments). In the example below, we are going to add the name 'Mr. Crabs' to our list called 'Names' and '45' to our list named 'Age'.

$\color{red}{\text{PRO TIP:}}$
To view possible arguments, click $\color{blue}{\text{Shift+Tab}}$

In [12]:
Names.append('Mr. Crabs')
Names

['Sponge', 'Bob', 'Squid', 'Ward', 'Patrick', 'Mr. Crabs']



When we use insert, we specify the position at which we want the additional informational to be. It takes the general form: 
                        __name_of_list.insert (position index, element to be inserted)__

The count of elements(index) within a list begins at zero i.e for the list Names: [0, 1,2,3,4,5] where 'Sponge' is element 0 and 'Mr. Crabs' is element 5. 

In the example below, we are going to insert the age of Mr. Crabs being 45, into our list named 'Age'.

In [13]:
# We insert 45 into the position index 5
Age.insert(5, 45)
Age

[20, 21, 22, 23, 24, 45]

We can also remove,sort, reverse etc. elements in lists.

In [14]:
Names.remove('Bob')
Names

['Sponge', 'Squid', 'Ward', 'Patrick', 'Mr. Crabs']

In [15]:
Names.insert(1, 'Bob')
Names

['Sponge', 'Bob', 'Squid', 'Ward', 'Patrick', 'Mr. Crabs']

In [16]:
Age.sort(reverse=True)
Age

[45, 24, 23, 22, 21, 20]

In [17]:
Age.sort()
Age

[20, 21, 22, 23, 24, 45]

We can also __merge__ lists and create a list of lists

In [18]:
Names_and_Age1 = Names, Age
Names_and_Age1

(['Sponge', 'Bob', 'Squid', 'Ward', 'Patrick', 'Mr. Crabs'],
 [20, 21, 22, 23, 24, 45])

In [19]:
Names_and_Age2 = Names + Age
Names_and_Age2

['Sponge',
 'Bob',
 'Squid',
 'Ward',
 'Patrick',
 'Mr. Crabs',
 20,
 21,
 22,
 23,
 24,
 45]

### Locating elements in lists

We can use eitherthe index or the element itself to locate it within a list. 

let's locate the name 'Mr. Crabs'

In [20]:
# When we want to locate the element given its index

Names[5]

'Mr. Crabs'

In [21]:
# To locate the index of the element given its name

Names.index('Mr. Crabs')

5

In [31]:
New_Names=[i.replace( 'Mr. Crabs', 'Plankton') for i in Names]
New_Names

['Sponge', 'Bob', 'Squid', 'Ward', 'Patrick', 'Plankton']

In [25]:
village_name = 'Bikini Bottom'

In [26]:
There was once a village called village_name whose inhabitants included Names

SyntaxError: invalid syntax (Temp/ipykernel_2192/3073181538.py, line 1)

You can try popping (using .pop()) and see what happens!

### Arithmetic operations on lists

Let's multiply everyone's age by 2

In [ ]:
Age_2= [i*2 for i in Age]
Age_2

$\color{red}{\text {CURIOUS:}}$



1. Some may be tempted to multiply the list directly. However, (Age * 3) only means (print the list, thrice) not (the elements in the list * 3). Let's try it below.

In [ ]:
Age_3 = Age * 3
Age_3

2. What happens when you use double **? 
Do you recall 1^2 = 1, 2^2 = 4, 3^2= 9...

In [ ]:
Age_to_the_power_of_2 = [i**2 for i in Age]
Age_to_the_power_of_2

#### Curious Brainer

Try out the other methods and see how much you can manipulate lists!

### Dictionaries

Let's see how you can make some changes in dictionaries.

 We can multiply the ages of our characters inside the dictionaries. Let's try it out with our dictionary 'Age_of_characters'.

In [28]:
type_of_characters = dict(zip((Names= [, Type))
type_of_characters

{'Sponge': 'Sponge',
 'Bob': 'Sponge',
 'Squid': 'Squid',
 'Ward': 'Squid',
 'Patrick': 'Starfish'}

In [ ]:
New_Age_of_characters = dict(zip(Names, [i*2 for i in Age]))
New_Age_of_characters

Let's write a simple story to show how we can apply what we've covered.

In [ ]:
print('There was an underwater town whose residents included 'Names'. The local restaurant owner was called 'Names.index(5)'. He loved money too.

In [ ]:
1/2

In [ ]:
d ={'Key1':'', 'key2':[1,2,3,4,5,6]}

In [ ]:
d['Key1']

In [ ]:
d['key2'][4]

In [ ]:
d.values()

In [ ]:
t = (1,2,3,4,5)

In [ ]:
t

In [ ]:
i = 5
while i<10:
    print('i is: {}'.format(i))
    i= i+1

In [ ]:
range(5)

In [ ]:
out =[]
for item in t:
    out.append(item**2)
    
print(out)

In [ ]:
[item**2 for item in t]

In [ ]:
#lambda expressions

In [ ]:
def square(x):
    return x**2

square(4)

In [ ]:
lambda x:x**2

# NUMPY

In [ ]:
import numpy as np

In [ ]:
np.arange(0,11)#to output values from 0 to 10 in order

In [ ]:
np.arange(0,11,2)# to output values from 0 to 10 but in steps of 2

In [ ]:
np.zeros(5)

In [ ]:
np.ones(5)

In [ ]:
#to output 2 dimensions
np.zeros((5,5))

In [ ]:
np.linspace(0,10, 5)#shows the evenly spaced numbers in a given interval

In [ ]:
np.linspace(0,10,3)

In [ ]:
np.eye(5)

In [ ]:
np.random.rand()#gives you a random distribution between 0 and 1

In [ ]:
np.random.rand(5)

In [ ]:
np.random.rand(1)

In [ ]:
np.random.rand(3,4)# the first digit is the number of dimensions

In [ ]:
np.random.randn(1) #follows standard normal distribution

In [ ]:
np.random.randn(0, 2)

In [ ]:
np.random.randn(2)

In [ ]:
np.random.randint(0,10)#random integer

In [ ]:
np.random.randint(0, 100, 5)#add a param to state number of rndom numbers required

In [ ]:
#reshaping an array

arr = np.arange(10)

rarr = np.random.randint(0, 10, 4)

In [ ]:
arr

In [ ]:
rarr

In [ ]:
arr.reshape(2,5)

In [ ]:
arr.reshape(5,2)

In [ ]:
 rarr.max()

In [ ]:
rarr

In [ ]:
rarr.min()

In [ ]:
rarr.mean()

In [ ]:
arr.shape

In [ ]:
rarr.shape

In [ ]:
arr.dtype

In [ ]:
import numpy as np

In [ ]:
zero = np.zeros(10)

In [ ]:
one = np.ones(10)
one

In [ ]:
one*5

In [ ]:
#create an array of integers from 10 to 50 in order
np.arange(10,51)

In [ ]:
#create an array of all even numbers from 10 and 50
np.arange(10,51,2)

In [ ]:
#Create a 3*3 matrix with values ranging from 0 to 8
np.arange(0,9).reshape(3,3)

In [ ]:
#Create a 3*3 identity matrix
np.eye(3,3)

In [ ]:
#Generate the given output
np.arange(0,1.01, 0.01)

In [ ]:
#create an array of linearly spaced points between 0 and 1
np.linspace(0,1,20)

In [ ]:
 arr

In [ ]:
arr = np.arange(0,11)
arr

In [ ]:
arr[0:5] = 100
arr

In [ ]:
arr[-5:]

# PANDAS

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a','b','c']
list1 = ['Dress', 'Scarf', 'Shoes']
arr = np.array([10, 20, 30])
list2 = ['Track', 'Shoes', 'Drink']

In [ ]:
#let's create a dictionary using my_list and labels.
c_d = dict(zip(labels, list1))
c_d

In [ ]:
lists = list1, list2

In [ ]:
lists

In [ ]:
lists[0][0]

In [ ]:
print(list1)

In [ ]:
# We will iterate through the group of lists and consolidate the information into one dictionary.
# The index remains to be the labels
i = 0
y = 0
for item in lists:
  
    info = dict(zip(labels, lists[i]))
    print(info)
    i = i+1

In [ ]:
print(list1)

In [ ]:
# Let's create a series
pd.Series(list1, index= labels)

In [ ]:
#Let's create a series usind the arr array as the index.
l1=pd. Series(list1, index= arr)
l1

In [ ]:
pd. Series(c_d)

In [ ]:
l2=pd.Series( list2, index= arr)
l2

# DATAFRAMES

In [ ]:
from numpy.random import randn
np.random.seed(101)#to generate the same random values

In [ ]:
#Creating a dataframe and populate it with random numbers.
#Since the index and the columns have been given in string format, we will specify where the info is to be split
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z'.split())
df

## ROWS AND COLUMNS SELECTION AND INDEXING

In [ ]:
df['W']

In [ ]:
#to select multiple columns, bind them in a list
df[['W', 'Z']]

In [ ]:
#Another way to select a column
df.W

In [ ]:
#Let's add a new column thatsums W and Y
df['New'] = df.W + df.Y
df

In [ ]:
#To drop a column... the axis is set to 1 to signify column, otherwise the program will look through rows, axis 0
df.drop('New', axis =1)

In [ ]:
df

To make the changes apply to the df, we either reasign the df to the drop line or we add inplace as True

In [ ]:
df.drop('New',axis = 1, inplace = True)
df

In [ ]:
df.drop('A B C'.split(), axis= 0)

In [ ]:
#selecting rows using values
df.loc['A']

In [ ]:
#selecting rows using index
df.iloc[0]

In [ ]:
#selecting a specific value
df.loc[['A', 'B'],['W','Y']]

In [ ]:
df > 0

In [ ]:
df[df>0]

In [ ]:
df[df.W>0]

In [ ]:
df.reset_index()

In [ ]:
df.reset_index(drop =True,inplace=True)
df

In [ ]:
newind = 'AA AB AC AD AE'.split()
df['letters'] = newind
df

In [ ]:
df.set_index('letters',inplace=True)

In [ ]:
df

In [ ]:
df.sum()

## MISSING DATA

In [ ]:
#Creating a dataframe with null values
#
df = pd.DataFrame({'A': [1, 2, np.nan], 'B':[5,np.nan, np.nan], 'C':[1,2,3]})

In [ ]:
df

In [ ]:
#dropping rows with missing values
df.dropna(inplace=False)

In [ ]:
#Filling in the missing values with the median of the first row
#Other 
df.fillna(value= df.loc[[0],['A','B','C']].mean(), inplace=False)

## OPERATIONS

In [ ]:
df = pd.DataFrame(
    {'col1':[1,2,3,4], 
     'col2':[444,555,666,444],  
     'col3':['abc','def','ghi','xyz']})
df1= pd.DataFrame({'col1':[5,6,7,8], 
                   'col2':[777, 888,444, 5555],
                   'col3':['dtg', 'yhu','rtq','bnm']})

In [ ]:
df

In [ ]:
df[1:]

In [ ]:
df.head(1)

In [ ]:
# Merging Dataframes
df2 = pd.concat([df, df1])

In [ ]:
df2

In [ ]:
df3 = pd.merge([df, df1])

In [ ]:
pd.unique(df2['col2'])

In [ ]:
df2['col2'].nunique()

In [ ]:
df2.col2

In [ ]:
#Counting the number of value occurences in a specefic column
df2.col2.value_counts()

In [ ]:
df2[df2['col3'].str.contains('t')]

In [ ]:
#col1>2 and col2==444
newdf = df2[(df2['col1']>2) & (df2.col2==444)]
newdf

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col1'].sum()

# DATA INPUT

In [ ]:
#for sal in  pd.read_csv('Salaries.csv', low_memory = False, chunksize=10):
 #print(sal)

In [ ]:
sal= pd.read_csv('Salaries.csv', low_memory = False)
sal.head()

In [ ]:
sal.columns

In [ ]:
sal.isna().count()

In [ ]:
sal.isna().count(axis=1)

In [ ]:
sal[sal.columns[sal.isnull().any()]]

In [ ]:
sal.dropna(axis = 1, inplace = True)
sal